<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap and related libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom scripts -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if 'username' in session %}
                        <li class="nav-item">
                            <div class="row">
                                <form method="POST" action="/logout" class="mr-2">
                                    <button type="submit" class="btn btn-danger">Logout</button>
                                </form>
                                <form method="GET" action="/users/{{session['username']}}" class="mr-2">
                                    <button type="submit" class="btn btn-primary col">User Details and Feedbacks</button>
                                </form>
                            </div>
                        </li>
                    {% endif %}
                    {% if 'username' not in session and request.path != '/login' %}
                    <li class="nav-item">
                        <div class="row">
                            <form method="POST" action="/login" class="mr-2">
                                <button type="submit" class="btn btn-primary col">Login</button>
                            </form>
                            <form method="GET" action="/register" class="mr-2">
                                <button type="submit" class="btn btn-primary col">Register</button>
                            </form>
                        </div>
                    </li>
                    {% endif %}   
                </ul>
            </div>
        </nav>
    </header>

    <main id="content-container" style="padding-top: 60px;">
        <div class="flash-container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>
    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>
