#content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#game-container {
    flex: 1;
    margin-right: -100px;
}

#stats-container {
    flex: 1;
    margin-bottom: 20px;
    margin-left: 100px;
}

#word-form-container {
    flex-basis: 100%;
}
