header {
    position: relative; 
}

header > h1 {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.form > input {
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid black;
  } 

  .user-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.user-image-container {
    position: relative;
    width: 75px;
    height: 100px;
    display: flex;
    align-items: center;
}

.user-image-container img {
    margin: 40px 10px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h1 {
    margin: 20px 20px 10px;
}

textarea {
    width: 400px; 
    height: 200px; 
    display: flex;
    align-items: center;
    margin: 10px 10px;
}
  
.user-buttons-container {
    margin: 0px 20px 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.post-buttons-container {
    display: flex;
    gap: 5px;
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0px 10px;
    width: auto;
    height: 30px;
}
.button-edit-user, .button-edit-post, .button-add-post-form {
    background-color:  #0059ff;
}

.button-delete-user, .button-cancel, .button-delete-post {
    background-color: rgb(255, 74, 50);
}

.button-cancel-post{
    background-color: rgb(212, 212, 212);
}

.button-add-user-form, .button-add-user, .button-add-post {
    background-color:  #20cf38;
}

.button-home{
    border: none;
    position: absolute;
    top: 10px; 
    right: 10px; 
    display: inline-block;
    padding: 10px 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

[class*="button-"]:hover {
  filter: brightness(0.85);
  transform: scale(1.05);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  }

.posts-container ul li {
    list-style: none;
}