.Nav {
    background-color: #005eff;
    padding: 1px;
    margin-bottom: 1px;
}

.NavList {
    list-style: none;
    display: flex;
}

.NavItem {
    margin-right: 10px;
}

.NavItem a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.NavItem a:hover {
    color: aqua;
}
