{% extends 'base.html' %}

{% block title %}Add Post{% endblock %} 

{% block content %}
    {% with message = get_flashed_messages() %}
        <p class="">{{ message[0] }}</p>
    {% endwith %}

    <h1>Add Post for {{user.first_name}}</h1>

    <form action='/add_post/{{ user.id }}' method='POST' class="form">
        <label for="title">Title:</label>
        <input type='text' name='title' required>
        <label for="content">Content:</label>
        <textarea type='text' name='content' required></textarea>
        <button type="button" class="button-cancel" onclick="window.location.href='/{{ user.id }}'">Cancel</button>
        <button type="submit" class="button-add-post">Add</button>
    </form>

    
{% endblock %}
