{% extends 'base.html' %} {% block title %} Form {% endblock %} {% block content %}
<div id="form-container">
    <h2>Exchange rate:</h2>
    <form method="POST" action="/validate_code" id="exchange-form">
        <label for="from">Converting from </label>
        <input type="text" name="from" placeholder="USD" pattern="[A-Za-z]{3}" required title="A valid currency code (e.g., USD, EUR, JPY)." />

        <label for="to">Converting to </label>
        <input type="text" name="to" placeholder="GBP" pattern="[A-Za-z]{3}" required title="A valid currency code (e.g., USD, EUR, JPY)." />

        <label for="amount">Amount </label>
        <input type="number" name="amount" placeholder="50" step="any" required title="A valid number amount" />

        <input type="submit" value="Convert" />
    </form>
</div>
{% if error %}
<div id="error-message">
    <p>{{ error }}</p>
</div>
{% endif %} {% endblock %}
