{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block content %}
<div class="posts-container">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in posts %}
        <li>
            <h2>{{post.title}}</h2>
            <p>{{ post.content }}</p>
            <p><em><strong>Posted By {{post.user.first_name}} {{post.user.last_name}}</strong></em>    on {{ post.created_at.strftime('%b %d, %Y, %I:%M %p') }}</p>
            <hr>
        </li>  
        {% endfor %}
    </ul>
</div>
<div class="users-container">
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li><a href='/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></li>  
        {% endfor %}
    </ul>

    <form action="/create_user">
        <button type="submit" class="button-add-user-form">Add User</button>
    </form>
</div>


{% endblock %}
